/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-weight-card-body);
  background-attachment: scroll;
  background-image: var(--background-main);
  background-size: cover;
  padding-block-start: 102px;
}

.wrapper {
	width: 100% ;
}

.header {
	border: 2px solid #000000;
background: #ffffff;

margin: auto;
display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);; /*120-128*/
}

.logo {
	font-family: var(--font-accent);
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /*49-65*/
	line-height: 49px;
}

.main-heading {
	
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* 14-23 */
}



@media (min-width:376px){
	
.wrapper {
	width: var(--content-width);
}
}