/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weight-card-body);
  background-attachment: scroll;
  background-image: var(--background-main);
  background-size: cover;
  padding-block: 102px 103px;
}

.wrapper {
  inline-size: 100%;
}

.header {
  border: 2px solid var(--color-accent);
  background: var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem); /*120-128*/
}

.logo {
  font-family: var(--font-accent), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /*49-65*/
  line-height: 49px;
}

.main-heading {
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* 14-23 */
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  padding-block: 101px 54px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card {
  background: var(--color-main);
}

.card-title {
  padding: 3px 24px 3px 10px;
  font-variation-settings: "wght" var(--font-weight-card-title);
  font-size: var(--font-size-main);
  border: 2px solid var(--color-accent);
}

.card-img-wrapper {
  position: relative;
  border-bottom: 2px solid var(--color-accent);
  border-left: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  border-top: 1px solid var(--color-accent);
}

.card-img {
  max-width: 100%;
  display: block;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 
  -1px 0 var(--color-stroke), 0 1px var(--color-stroke),
  1px 0 var(--color-stroke), 0 -1px var(--color-stroke);
}

@supports (
  (text-stroke: 1px var(--color-stroke)) or
    (-webkit-text-stroke: 1px var(--color-stroke))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--color-stroke);
    text-stroke: 1px var(--color-stroke);
    text-shadow: none;
  }
}

.card-body {
  padding: 25px;
  font-variation-settings: "wght" var(--font-weight-card-body);
  border: 2px solid var(--color-accent);
}

.card-body__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block-end: 24px;
  line-height: 21px;
}

.like-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  inline-size: 40px;
  block-size: 38px;
  padding: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.core {
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}

.card__like-button {
  border: 2px solid var(--color-accent);
  background: transparent;
  padding: 9px 0;
  inline-size: 127px;
  position: relative;
  block-size: 38px;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--color-contour);
  transition: fill 0.3s ease;
}

.main-body {
  transition: fill 0.3s ease;
}
.card__icon-button:hover .main-body {
  fill: var(--color-contour);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-heart 0.3s ease-in;
  animation-delay: 0.3s;
}

.save {
  background: var(--color-main);
  padding: 18.5px 21px 13px 21px;
  border: 2px solid var(--color-accent);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.save__icon {
  aspect-ratio: 1 / 1;
  inline-size: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
}

#folppy {
  color: var(--color-main);
}
.button__text {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--color-main);
}

.card__icon-button:focus,.card__like-button:focus,
.save:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.save::before,
.card__like-button::before, .close-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  transform-origin: left;
}

.save:hover::before,
.card__like-button:hover::before, .close-button:hover::before {
  transform: scale(1);
}

.save:hover,
.card__like-button:hover,
.card__icon-button:hover {
  cursor: pointer;
}

#pop-up {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 353px;
  max-height: 191px;
  padding: 30px;
  row-gap: 30px;
  column-gap: 20px;
}

#pop-up::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

#pop-up .save__icon {
	inline-size: 39px;
}

.close-button {
  grid-column: 1 / 3;
  inline-size: 100%;
  text-transform: uppercase;
  font-family: var(--font-accent), sans-serif;
  padding: 9px 0;
  background: var(--color-main);
  position: relative;
  
}

.close-button:hover {
  cursor: pointer;
}

#pop-up:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.floppy {
  display: none;
}

@media (width > 375px) {
  .wrapper {
    inline-size: var(--content-width);
    margin: auto;
  }

  .watermark {
	right: 13px;
  }
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }

  0% {
    transform: scale(1);
  }
}

@keyframes sparks-heart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }

  0% {
    opacity: 0;
  }
}

@keyframes color-change {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
