/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, "Inter"), sans-serif;
  font-size: var(--font-size-main, 18px);
  font-variation-settings: "wght" var(--font-weight-card-body, 400);
  background-attachment: fixed;
  background-image: var(
    --background-main,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a)
  );
  background-size: cover;
  padding-block: 102px 103px;
}

.wrapper {
  inline-size: 100%;
}

.header {
  border: 2px solid var(--color-accent, #000);
  background: var(--color-main, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem); /*120-128*/
}

.logo {
  font-family: var(--font-accent, "PressStart2P"), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /*49-65*/
  line-height: 49px;
}

.main-heading {
  font-family: var(--font-accent, "PressStart2P"), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* 14-23 */
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  padding-block: 101px 54px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card {
  background: var(--color-main, #fff);
}

.card-title {
  padding: 3px 24px 3px 10px;
  font-variation-settings: "wght" var(--font-weight-card-title, 700);
  font-size: var(--font-size-main, 18px);
  border: 2px solid var(--color-accent, #000);
}

.card-img-wrapper {
  position: relative;
  border-bottom: 2px solid var(--color-accent, #000);
  border-left: 2px solid var(--color-accent, #000);
  border-right: 2px solid var(--color-accent, #000);
  border-top: 1px solid var(--color-accent, #000);
}

.card-img {
  max-width: 100%;
  display: block;
}

.saturate {
  filter: saturate(200%);
}

.invert {
  filter: invert(30%);
}

.contrast {
  filter: contrast(200%);
}

.grayscale {
  filter: grayscale(100%);
}

.multy-filter {
  filter: contrast(200%) saturate(200%) brightness(90%);
}

.kubik {
  filter: hue-rotate(0.74turn);
}

.sepia {
  filter: sepia(0.5);
}

.watermark {
  position: absolute;
  top: 24px;
  right: 12px;
  font-family: var(--font-accent, "PressStart2P"), sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--color-stroke, #fff), 0 1px var(--color-stroke, #fff),
    1px 0 var(--color-stroke, #fff), 0 -1px var(--color-stroke, #fff);
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--color-stroke, #fff)) or
    (-webkit-text-stroke: 1px var(--color-stroke, #fff))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--color-stroke, #fff);
    text-stroke: 1px var(--color-stroke, #fff);
    text-shadow: none;
  }
}

.card-body {
  padding: 25px;
  border: 2px solid var(--color-accent, #000);
}

.card-body__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block-end: 24px;
  line-height: 21px;
}

.like-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card__like-button {
  border: 2px solid var(--color-accent, #000);
  background: transparent;
  padding: 9px 0;
  inline-size: 127px;
  position: relative;
  block-size: 38px;
}

.sparks {
  opacity: 0;
}

.main-body {
  transition: fill 0.3s ease;
}

.save {
  background: var(--color-main, #fff, #fff);
  padding: 15px 20px;
  border: 2px solid var(--color-accent, #000);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex-direction: column;
}

.save__icon {
  color: var(--color-main, #fff) !important;
  max-width: 28px;
  height: auto;
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
}

.button__text {
  font-family: var(--font-accent, "PressStart2P"), sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--color-main, #fff);
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

#pop-up {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  position: fixed;
  inset: 0;
  transition: opacity 1s ease-in-out;
  max-width: 341px;
  max-height: 191px;
  padding: 30px 37px;
  row-gap: 30px;
  column-gap: 20px;
  overflow: hidden;
}

#pop-up::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

#pop-up .save__icon {
  max-width: 39px;
}

.pop-up__text {
  text-transform: uppercase;
  line-height: 150%;
}

.close-button {
  grid-column: 1 / 3;
  inline-size: 100%;
  text-transform: uppercase;
  font-family: var(--font-accent, "PressStart2P"), sans-serif;
  padding: 9px 0;
  background: var(--color-main, #fff);
  position: relative;
}

.close-button:hover {
  cursor: pointer;
}

#pop-up:not([open]) {
  pointer-events: none;
  display: none;
}

@media (width > 376px) {
  .wrapper {
    inline-size: var(
      --content-width,
      clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem)
    );
    margin: auto;
  }

  .watermark {
    right: 13px;
  }

  .logo {
    line-height: 62px;
  }

  .save {
    flex-direction: row;
    padding: 18.5px 21px 13px 21px;
  }

  .save__icon {
    max-width: 21px;
  }

  #pop-up {
    max-width: 353px;
    padding: 30px 29px;
  }
}
